@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3><a href="https://www.linkedin.com/in/jesus-mora-3883ab230/">Linkedin</a></h3>
<h3><a href="https://www.facebook.com/ingjesus0614">Facebook</a></h3>
<h3>whatsapp:573014934578 </h3>
<h3> </h3>

<address>
    calle 45b #20-99<br />
    Barranquila, Colombia<br />
    <abbr title="Phone">P:</abbr>
    3014394578
   
</address>

<address>
    <strong>gmail:</strong>   <a href="mailto:jmora061483@gmail.com">jmora061483@gmail.com</a><br />
    <strong>hotmail:</strong> <a href="mailto:jesus061483@hotmail.com">jesus061483@hotmail.com</a>
</address>