@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Biblioteca - app</h1>
    <p class="lead">Apilicacion que gestiona libros y autores </p>   
    <p><a href="~/Libro" class="btn btn-primary btn-lg">Gestion de libros &raquo;</a></p>
</div>

